@tailwind base;
@tailwind components;
@tailwind utilities;


canvas {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
canvas::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

canvas::before, canvas::after{
    border-style: none !important;
}

 